html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #7e95df;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}
body {
  background-color: #5f5be0;
}
.Main {
  width: 100%;
  display: flex;
  direction: rtl;
}
.sidebar {
  height: 100vh; /* ارتفاع کامل صفحه */
  width: 200px; /* عرض سایدبار */
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: white;
  padding-top: 100px;
  border-radius: 5px;
  direction: rtl;
  overflow-x: hidden;
  transition: 0.5s;
  white-space: nowrap;
  font-family: "dana";
  font-weight: bold;
}

.sidebar a {
  padding: 10px 16px; /* تغییر padding */
  text-decoration: none;
  font-size: 20px; /* تغییر اندازه فونت */
  color: #9351cc;
  display: flex; /* استفاده از flexbox */
  align-items: center; /* هم‌راستایی عمودی */
  transition: color 0.3s; /* تغییر رنگ با انیمیشن */
}

.sidebar a img {
  width: 38px; /* اندازه آیکون */
  height: auto; /* حفظ تناسب */
  margin-left: 15px; /* فاصله بین آیکون و متن */
  transition: filter 0.3s; /* انیمیشن برای تغییر رنگ آیکون */
  margin-top: 6px;
}
.sidebar a:hover {
  background-color: #d4d4d4; /* تغییر رنگ متن در حالت hover */
  border-radius: 15px;
  color: #000;
}

.sidebar a:hover img {
  filter: brightness(10) invert(20); /* تغییر رنگ آیکون در حالت hover */
}

#main {
  transition: margin-right 0.5s;
  padding: 16px;
  margin-right: 20px; /* فاصله از سایدبار */
  flex-grow: 1; /* پر کردن فضای باقی‌مانده */
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px; /* تغییر اندازه فونت در حالت موبایل */
  }
}
#sidebar.sidebar-collapsed #errors-section,
#sidebar.sidebar-collapsed #traffic-section,
#sidebar.sidebar-collapsed #security-section {
  display: none;
}
#rokhdad-submenu {
  display: none;
  position: relative;
  background-color: #f9f9f9;
  min-width: 120px; /* کاهش عرض زیرمنو */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 5px; /* کاهش فاصله از آیکون رخداد */
}

.submenu-item {
  padding: 8px 12px; /* کاهش padding */
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
  cursor: pointer;
  font-size: 14px; /* کاهش اندازه فونت */
}

.submenu-item:hover {
  background-color: #f1f1f1;
}

.circle {
  width: 8px; /* کاهش اندازه دایره */
  height: 8px; /* کاهش اندازه دایره */
  border-radius: 50%;
  background-color: #9351cc;
  margin-right: 6px; /* کاهش فاصله از متن */
}
.left {
  height: 670px;
  width: 1180px;
  border-radius: 5px;
  margin: 0 auto;
  padding-left: 100px;
}
.container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}
.b1 {
  height: 50px;
  margin: 0px auto;
  display: flex;
  direction: rtl;
}
.b11 {
  width: 50%;
  display: flex;
  direction: rtl;
}
.b111 {
  height: 35px;
  width: 35px;
  border-radius: 100%;
  background-color: #fff;
  margin: 5px;
  box-shadow: 3px 3px #00000020;
  grid-column: 1;
}
.b111:hover {
  content: "جستجو کن";
}
.b111 img {
  height: 22px;
  width: 22px;
  margin-right: 5px;
  margin-top: 5px;
}
.b111:hover {
  height: 37px;
  width: 37px;
}
.b111:active {
  background-color: #ccc;
}
.b111:hover img {
  height: 24px;
  width: 24px;
  margin-right: 5px;
  margin-top: 5px;
}
.b111:visited {
  background-color: #d4d4d4;
}
.b112 {
  height: 35px;
  width: 200px;
  background-color: #fff;
  border-radius: 10px;
  margin: 5px;
  box-shadow: 3px 3px #00000020;
  display: none;
  transition: opacity 0.8s ease-in-out;
  overflow: hidden;
  opacity: 0;
  grid-column: 2;
}
.b112:visited {
  background-color: palegoldenrod;
}
.b112.active {
  display: block;
  opacity: 1;
}
.b112 form {
  margin: 6.5px;
}
.b112 form input {
  outline: none;
  border: none;
  background: transparent;
  font-family: "dana";
  font-weight: bold;
}
.b12 {
  width: 50%;
  display: flex;
  direction: ltr;
}
.b121 {
  height: 35px;
  width: 35px;
  border-radius: 100%;
  background-color: #fff;
  margin: 5px;
  box-shadow: 3px 3px #00000020;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  margin: 0 auto;
}

#modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#modal-content button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#confirm-exit {
  background-color: #9351cc;
  color: white;
  font-style: "dana";
  font-weight: bold;
}

#modal-content p {
  font-family: "dana";
  font-weight: bold;
  margin-bottom: 20px;
}

#cancel-exit {
  background-color: #9351cc;
  color: white;
  font-style: "dana";
  font-weight: bold;
}

.b121 img {
  height: 25px;
  width: 25px;
  margin-left: 5px;
  margin-top: 5px;
}
.b121:hover {
  width: 37px;
  height: 37px;
}
.b121:hover img {
  height: 27px;
  width: 27px;
  margin-left: 5px;
  margin-top: 5px;
}
.b121:active {
  background-color: #ccc;
}
.b122 {
  height: 35px;
  width: 35px;
  border-radius: 100%;
  background-color: #fff;
  margin: 5px;
  box-shadow: 3px 3px #00000020;
}
.b122 img {
  height: 25px;
  width: 25px;
  margin-left: 5px;
  margin-top: 5px;
}
.notification-modal {
  display: none;
  position: relative;
  top: 50px;
  right: 0;
  width: 300px;
  background: #9351cc;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.notification-content {
  padding: 15px;
  text-align: right;
}

.notification-content h3 {
  margin-bottom: 10px;
  font-family: "dana";
  font-weight: bold;
}

.notification-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.notification-content ul li {
  padding: 10px;
  border-bottom: 1px solid #f0f0f0;
  font-family: "dana";
  margin: 30px auto;
}

.notification-content ul li:last-child {
  border-bottom: none;
}

.b122 {
  position: relative;
}

.notification-modal.active {
  display: block;
}

.b122:hover {
  width: 37px;
  height: 37px;
}
.b122:hover img {
  height: 27px;
  width: 27px;
  margin-left: 5px;
  margin-top: 5px;
}
.b122:active {
  background-color: #ccc;
}
.left-area {
  height: 40em;
  width: 73.75em;
}
.left-area__1st {
  height: 10em;
  display: flex;
  justify-content: space-between;
}
.left-area__1st-box {
  height: 9em;
  width: 8em;
  background-color: #fff;
  border-radius: 0.625em;
  padding: 0.5em;
  box-shadow: 3px 3px #0f0f0f4b;
}
.left-area__1st-box:hover {
  height: 9.2em;
  width: 8.2em;
  background-color: #d4d4d4;
}
.left-area__1st-text {
  height: 4.2em;
  text-align: center;
  font-family: "dana";
  font-size: 15px;
  font-weight: 800;
  color: #9351cc;
  margin-top: 0.4em;
}
.left-area__12st {
  height: 4.4em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-area__1st-box__button {
  height: 2.7em;
  width: 6.5em;
  background-color: #9351cc;
  color: #fff;
  border-radius: 0.625em;
  font-family: "dana";
  font-weight: 600;
  font-size: medium;
  border: none;
}
.left-area__1st-box__button:hover {
  background-color: #8400f5;
}
.dropdownn {
  position: relative;
  display: inline-block;
  z-index: 11; /* Added z-index here */
}

.dropbtnn {
  background-color: #9351cc;
  color: #fff;
  font-size: medium;
  font-weight: bold;
  height: 3em;
  width: 7.5em;
  border: 1px solid #7f7d7de7;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  margin: 0.5em;
  font-family: "dana";
}
.separator {
  height: 20px;
  width: 1px;
  background-color: #ccc;
  margin: 0 10px;
}
.arrow {
  transition: transform 0.3s ease;
  margin-right: 1.25em;
}
.dropdownn-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 190px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
  font-family: "dana";
  text-align: center;
}

.dropdownn-content a {
  text-decoration: none;
  display: block;
  color: #686666;
  border-bottom: 1px solid #707070;
  margin: 0 10px;
}

.dropdownn-content a:hover {
  background-color: #8f5abc;
  color: #fff;
  border-radius: 0.625em;
}
.dropdownn-content a {
  display: block;
  padding: 10px;
  text-decoration: none;
}

.dropdownn-content a:hover {
  background-color: #8f5abc;
  color: white;
}
.dropbtnn:hover {
  background-color: #8400f5;
}
.dropdownn {
  position: relative;
  display: inline-block;
  z-index: 11; /* Added z-index here */
}

.dropbtnn {
  background-color: #9351cc;
  color: #fff;
  font-size: medium;
  font-weight: bold;
  height: 3em;
  width: 7.5em;
  border: 1px solid #7f7d7de7;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  margin: 0.5em;
  font-family: "dana";
}
.separator {
  height: 20px;
  width: 1px;
  background-color: #ccc;
  margin: 0 10px;
}
.arrow {
  transition: transform 0.3s ease;
  margin-right: 1.25em;
}
.dropdownn-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 190px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
  font-family: "dana";
  text-align: center;
}

.dropdownn-content a {
  text-decoration: none;
  display: block;
  color: #686666;
  border-bottom: 1px solid #707070;
  margin: 0 10px;
}

.dropdownn-content a:hover {
  background-color: #8f5abc;
  color: #fff;
  border-radius: 0.625em;
}
.dropdownn-content a {
  display: block;
  padding: 10px;
  text-decoration: none;
}

.dropdownn-content a:hover {
  background-color: #8f5abc;
  color: white;
}
.dropbtnn:hover {
  background-color: #8400f5;
}
.left-area__2nd {
  height: 3em;
  background-color: #fff;
  margin: 1em auto;
  border-radius: 0.625em;
  box-shadow: 3px 3px #0f0f0f4b;
  display: flex;
}
.left-area__2nd__Rbox {
  width: 50%;
  display: flex;
  direction: rtl;
  align-items: center;
}
.left-area__2nd__Rbox__button {
  height: 2.3em;
  width: 7em;
  background-color: #9351cc;
  color: #fff;
  border-radius: 0.625em;
  font-family: "dana";
  font-weight: 600;
  font-size: medium;
  margin: 0 0.8em;
  display: flex;
  align-items: center;
  border: none;
}
.left-area__2nd__Rbox__button:hover {
  background-color: #8400f5;
}
.left-area__2nd__Rbox__button1 {
  height: 2.3em;
  width: 8.5em;
  background-color: #9351cc;
  color: #fff;
  border-radius: 0.625em;
  font-family: "dana";
  font-weight: 600;
  font-size: medium;
  margin: 0 0.8em;
  display: flex;
  align-items: center;
  border: none;
}
.left-area__2nd__Rbox__button__img1 {
  height: 1.5em;
  width: 1.5em;
}
.left-area__2nd__Rbox__button__img {
  height: 1.1em;
  margin-left: 0.6em;
}
.left-area__2nd__Lbox {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  direction: rtl;
}
.left-area__2nd__Lbox__button {
  height: 2.3em;
  width: 6em;
  background-color: #9351cc;
  color: #fff;
  border-radius: 0.625em;
  font-family: "dana";
  font-weight: 600;
  font-size: medium;
  display: flex;
  align-items: center;
  border: none;
  margin: 0 1em;
}
.left-area__2nd__Lbox__button__img {
  height: 1em;
  width: 1.4em;
  margin-left: 0.5em;
}
.search-box {
  display: flex;
  align-items: center;
  background: #9351cc;
  border: 2px solid #fff;
  border-radius: 0.625em;
  padding: 5px;
  border: none;
  outline: none;
  margin-left: 3em;
}

.search-box input {
  border: none;
  outline: none;
  padding: 5px;
  font-size: 14px;
  border-radius: 0.625em;
  font-family: "dana";
}

.search-box button {
  background: none;
  border: none;
  cursor: pointer;
}

.search-box img {
  width: 20px;
  height: 20px;
}
.left-area__3rd {
  height: 25em;
  margin: 1em auto;
  width: 100%;
  height: 400px;
  font-family: "dana";
}
.table-container {
  height: 24em;
  overflow-y: auto;
  border-radius: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: white;
  font-size: medium;
}
table thead {
  width: 95%;
  position: sticky;
  top: 0;
  z-index: 10;
  font-weight: bold;
}
th,
td {
  padding: 10px;
  text-align: center;
}

th {
  background: #9351cc;
  color: white;
  font-weight: bold;
}

tr:nth-child(even) {
  background: #d4d4d4;
}

tr:hover {
  background: #ddd;
}
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #9351cc;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7a3e99;
}
.left-area__3rd .table-container table td {
  border-right: 1px solid #949494; /* اضافه کردن خط عمودی به سمت راست هر سلول */
}
.checkbox-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  cursor: pointer;
  margin: auto;
}
.checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  border: 2px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.3s ease;
}

.checkbox input[type="checkbox"]:checked + .checkmark {
  background-color: #9351cc;
  border-color: #9351cc;
}

.checkbox input[type="checkbox"]:checked + .checkmark::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 1px;
  width: 5px;
  height: 11px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.center-cell {
  text-align: center;
  vertical-align: middle;
}
/* برای تراز بهتر خود checkbox */
